/* Dine styles her */
article {
    margin: 0.5rlh;

    >*+* {
        margin-top: var(--flows-pace, 1rlh);
    }

    h2 {
        --flows-pace: 2rlh;
    }

    h3:has(+ p)+p,
    h3:has(+ p + p)+p+p {
        color: blue;
        --flows-pace: .25rlh
    }

}