:root {
    --color-heading: #0B0D19;
    --color-body: #677386;
    --color-bg-button: #3D7BFA;
    --color-text-button: #FFF;

    /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
    --hide-overlay: 1;
}


/* Begynd her... */

img {
    border-radius: 1rem;
}

section {
    margin: 2rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    >* {
        flex: 1;
        flex-basis: 200px;
    }


}

.card {
    max-width: 600px;


}

h1 {
    font-size: 5rem;
}

p {
    font-size: 1.25rem;
    max-width: 90%;
}

.img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-template-rows: auto;
    max-width: 90%;
    gap: 1rem;

    grid-template-rows: subgrid;

    img:first-child {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    img:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    img:nth-child(3) {
        grid-column: 2/3;
        grid-row: 2/4;
    }

    img:nth-child(4) {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    img:nth-child(5) {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    img:nth-child(6) {
        grid-column: 3/4;
        grid-row: 3/4;
    }

    img:nth-child(7) {
        grid-column: 2/3;
        grid-row: 4/5;
    }


}

@layer {
    body {
        font-family: system-ui, sans-serif;
        margin: unset;
        display: grid;
        gap: 2rlh;
        padding: 2rlh;
        background: #ececec;
        line-height: 1.45;
        background: oklch(.9 none none);
    }

    h2 {
        line-height: 1.25;
    }

    img {
        inline-size: 100%;
        height: auto;
        display: block;
        min-width: 0;
    }

    * {
        box-sizing: border-box;
        margin: 0;
    }
}